<% if (model.environment.production && model.showAds) { %>
<div>
  <!-- display1 -->
  <ins
    class="adsbygoogle adslot_1 mb-3"
    data-ad-client="ca-pub-6747903070938911"
    data-ad-slot="4081932233"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<% } %>
