<div class="text-left pt-4">
  <% if(model.comments.length){ %>
  <h2 class="pt-3 mb-4 border-top border-secondary">Comments</h2>

  <ul class="list-group">
    <% model.comments.forEach(function(comment){ %>
    <li
      class="bg-transparent list-group-item px-3 py-3 mb-5 border border-secondary rounded"
    >
      <h3 class="mb-4"><%= comment.authorName %></h3>
      <p><%= comment.bodyText %></p>
    </li>
    <% }); %>
  </ul>
  <% } %>
  <h2 class="pt-3 mb-4 border-top border-secondary">Leave a Reply</h2>
  <form
    id="commentForm"
    action="<%= pageModel.environment.functionsUrl %>/comment"
    method="post"
  >
    <input
      id="postGuid"
      type="hidden"
      name="postGuid"
      value="<%- pageModel.guid %>"
    />
    <div class="form-group">
      <label for="comment">comment</label>
      <textarea
        required
        class="form-control"
        rows="5"
        id="comment"
        name="comment"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="authorName">name</label>
      <input
        required
        class="form-control"
        type="text"
        id="authorName"
        name="authorName"
      />
    </div>

    <div class="form-group mb-5">
      <label for="authorEmail">email</label>
      <input
        required
        class="form-control"
        type="email"
        id="authorEmail"
        name="authorEmail"
      />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <div class="pt-4" id="form-submit-msg"></div>
</div>
