<footer class="mastfoot mt-auto border-top pt-3 cover-container mx-auto w-100">
  <p>&#169; James Edwards <%= model.footerYear %></p>
  <p><a href="/legal/">legal</a></p>
  <script
    async
    src="https://cse.google.com/cse.js?cx=partner-pub-6747903070938911:fnczrw7trfu"
  ></script>
  <div class="gcse-searchbox-only"></div>
</footer>
