<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>
      &#169; James Edwards
      <script>
        document.write(new Date().getFullYear());
      </script>
    </p>
  </div>
</footer>
