<head>
  <!-- meta tags -->
  <meta charset="utf-8" />
  <meta name="Description" content="James Edwards" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <title><%= model.title %></title>
  <link
    rel="canonical"
    href="https://www.jamesedwards.name/<%= model.slug %>"
  />
  <!-- AdSense -->
  <script
    async
    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6747903070938911",
      enable_page_level_ads: true
    });
  </script>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
    integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
    crossorigin="anonymous"
  />
  <!-- Custom styles -->
  <link href="styles/styles.min.css?v=1" rel="stylesheet" />
</head>
