<header class="masthead">
  <h3 class="masthead-brand"><a href="/">JDE3</a></h3>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="about">About</a>
    <a class="nav-link" href="https://github.com/jdedwards3">GitHub</a>
    <a class="nav-link" href="https://www.linkedin.com/in/jamesdedwards3"
      >LinkedIn</a
    >
  </nav>
</header>
