<% if (model.environment.production && model.showAds) { %>
<div class="my-2 media-net text-center">
  <div id="div-gpt-ad-<%= id %>">
    <script>
      googletag.cmd.push(function () {
        googletag.display("div-gpt-ad-<%= id %>");
      });
    </script>
  </div>
</div>
<% } %>
