<ul class="list-group mb-5">
  <li class="list-group-item">
    <a href="/legal/privacy-policy">Privacy Policy</a>
  </li>
  <li class="list-group-item">
    <a href="/legal/terms-and-conditions">Terms & Conditions</a>
  </li>
  <li class="list-group-item"><a href="/legal/disclaimer">Disclaimer</a></li>
</ul>
