<form
  id="contactForm"
  action="<%= config.environment.functionsUrl %>"
  method="post"
  data-type="contact"
>
  <div>
    <label for="firstName">first name</label>
    <input
      required
      type="text"
      id="firstName"
      name="firstName"
      autocomplete="given-name"
    />
  </div>
  <div>
    <label for="lastName">last name</label>
    <input
      required
      type="text"
      id="lastName"
      name="lastName"
      autocomplete="family-name"
    />
  </div>
  <div>
    <label for="email">email</label>
    <input required type="email" id="email" name="email" autocomplete="email" />
  </div>
  <div>
    <label for="website">website</label>
    <input type="text" id="website" name="website" autocomplete="url" />
  </div>
  <div>
    <label for="message">message</label>
    <textarea required rows="5" id="message" name="message"></textarea>
  </div>
  <button type="submit">Submit</button>
  <div style="position: absolute; left: -5000px" aria-hidden="true">
    <input
      id="password_honeyBadger"
      type="text"
      name="password_honeyBadger"
      tabindex="-1"
      value=""
      autocomplete="off"
    />
  </div>
</form>
<div id="form-submit-msg"></div>
