<footer class="mastfoot mt-auto pt-3 cover-container mx-auto w-100 text-center">
  <div class="border-top pt-3">
    <p>&#169; James Edwards <%= new Date().getFullYear(); %></p>
    <ul class="d-flex list-unstyled justify-content-center mx-auto">
      <li class="px-3"><a href="/privacy-policy/">Privacy</a></li>
      <li class="px-3"><a href="/terms-and-conditions/">Terms</a></li>
      <li class="px-3"><a href="/disclaimer/">Disclaimer</a></li>
    </ul>
  </div>
</footer>
