<header class="masthead cover-container">
  <div class="masthead-brand">
    <a class="home-link" href="/">JDE3</a>
  </div>
  <nav class="nav-masthead">
    <a href="/contact/">Contact</a>
    <a href="/about/">About</a>
    <a href="https://github.com/jdedwards3">GitHub</a>
    <a href="https://www.linkedin.com/in/jamesdedwards3">LinkedIn</a>
  </nav>
</header>
