<header class="masthead cover-container mb-3 mx-auto w-100 border-bottom">
  <div class="masthead-brand h1 mb-md-3 mx-auto text-center">
    <a class="nav-link p-0" href="/">JDE3</a>
  </div>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="/contact/">Contact</a>
    <a class="nav-link" href="/about/">About</a>
    <a class="nav-link" href="https://github.com/jdedwards3">GitHub</a>
    <a class="nav-link" href="https://www.linkedin.com/in/jamesdedwards3"
      >LinkedIn</a
    >
  </nav>
</header>
