<svg
  class="img-thumbnail mb-3"
  width="200"
  height="200"
  xmlns="http://www.w3.org/2000/svg"
  preserveAspectRatio="xMidYMid slice"
  focusable="false"
  role="img"
  aria-label="james edwards picture"
>
  <defs>
    <pattern
      id="jamespic"
      patternUnits="userSpaceOnUse"
      width="200"
      height="200"
    >
      <image
        xlink:href="assets/james.jpg"
        x="0"
        y="0"
        width="200"
        height="200"
      />
    </pattern>
  </defs>
  <rect width="100%" height="100%" fill="url(#jamespic)"></rect>
</svg>
<p class="lead">
  Highly motivated and reliable Software Developer always looking to improve and
  expand my skill set.
</p>
