<div class="text-left pt-4">
  <form
    id="contactForm"
    action="<%= model.environment[Object.keys(model.environment)].functionsUrl %>/contact"
    method="post"
    data-form-token="<%= model.environment[Object.keys(model.environment)].functionsUrl %>/formToken"
  >
    <div class="form-group">
      <label for="firstName">first name</label>
      <input
        required
        class="form-control"
        type="text"
        id="firstName"
        name="firstName"
      />
    </div>
    <div class="form-group">
      <label for="lastName">last name</label>
      <input
        required
        class="form-control"
        type="text"
        id="lastName"
        name="lastName"
      />
    </div>
    <div class="form-group">
      <label for="email">email</label>
      <input
        required
        class="form-control"
        type="email"
        id="email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="website">website</label>
      <input class="form-control" type="text" id="website" name="website" />
    </div>
    <div class="form-group mb-5">
      <label for="message">message</label>
      <textarea
        required
        class="form-control"
        rows="10"
        id="message"
        name="message"
      ></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input
        id="password_honeyBadger"
        type="text"
        name="password_honeyBadger"
        tabindex="-1"
        value=""
        autocomplete="off"
      />
    </div>
  </form>
  <div class="pt-4" id="form-submit-msg"></div>
</div>
