<h1 class="cover-heading mb-5"><%= model.title %></h1>

<div class="text-left blog-post-text">
  <p class="mb-4">
    Do you find yourself spending many hours, possibly even over eight hours, a
    day looking at a computer screen? Maybe this is for your job, like software
    development or graphic design, and therefore is unfortunately unavoidable.
  </p>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-6747903070938911"
    data-ad-slot="2074484482"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <p>
    If you are looking for an excellent computer monitor to reduce eyestrain and
    improve focus read on to see my review for the
    <a
      href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
    >
      ASUS PB278Q 27" Eye Care Monitor</a
    >
  </p>

  <p>
    I first used an
    <a
      href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
    >
      ASUS PB278Q Monitor</a
    >
    in a dual monitor configuration, and you might think well isn't two 27 inch
    monitors just a bit much? For some that might be the case but even one of
    these monitors is a substantial improvement to any setup.
  </p>

  <h2>Great Monitor for Programming</h2>
  <p>
    After a while of using the
    <a
      href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
    >
      ASUS PB278Q Monitor</a
    >
    at work I purchased one for my home computer. It really is that good!
  </p>
  <p>
    With an IPS display and 2k/1440p (2560 x 1440) resolution the amount of
    screen real estate is almost double that of a 1080p monitor. I use text
    editors (mainly Visual Studio Code) the majority of the time, and it's
    possible to fit 240 columns of code on the screen with some extra left over.
    In other words you can have three files open, each 80 columns of text wide,
    all completely visible at the same time. Additionally the added vertical
    pixels help to reduce the need to scroll and allow for showing more code on
    the screen.
  </p>
  <p>
    Similarly when doing Web Development it's helpful to have the source code, a
    browser window and the browser debugger window open all at the same time.
    With a 21 inch 1080p monitor this is hard to do without overalapping windows
    and using <kbd>alt + tab</kbd>. The
    <a
      href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
    >
      27 inch Asus Monitor</a
    >
    has enough screen real estate to view all three windows simultaneously.
    Making for faster updates and debugging, without losing context.
  </p>

  <p>
    If you find that the blue light that most displays emit hurts your eyes or
    affects your sleep patterns this monitor comes with four levels of blue
    light filter. So if you like to use your computer late at night this might
    interest you, because at level four the blue light reduction is quite
    substantial.
  </p>

  <p></p>

  <h2>The monitor: high build quality with a reasonable price</h2>

  <p>
    I'm of the opinion that the most expensive components of a computer setup
    should be the monitor, followed by mouse and keyboard. The fastest
    processors, or best graphics cards are essentially useless if the interface
    by which we use them causes fatigue.
  </p>

  <p>
    The
    <a
      href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
    >
      ASUS PB278Q Monitor</a
    >
    is extremely stable, even on my admittedly cheap desk (an upgrade for the
    future). Not only that but the monitor ports include HDMI and Displayport,
    combined with full vertical orientation pivot, swivel, and tilt - this
    monitor is ready to last.
  </p>

  <p>
    If you aren't interested in the 4k monitors, well at least not interested
    yet, the 2k resolution of this monitor is a great step up from the standard
    1080p. Something that you will definitely not notice until you have tried
    it. I also believe that it will be a while before 1440p resolution monitors
    are made obsolete by higher resolutions so this investment will be usable
    for long after purchase.
  </p>

  <p>
    As an added bonus this monitor even has speakers, but I wouldn't use them
    everyday as the sound quality is not great, but in a pinch they work just
    fine.
  </p>

  <h2>Overall</h2>

  <p>
    I would strongly recommend this monitor to anyone, programmer or not. It is
    great for daily use as well as in a professional business setting. The
    asthetic is pleasing and the build quality is superior. It comes with a
    manufacturer warranty.
  </p>

  <p>If you are interested check it out for yourself!</p>

  <a
    href="https://www.amazon.com/gp/product/B009C3M7H0/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=jdedwards3-20&creative=9325&linkCode=as2&creativeASIN=B009C3M7H0&linkId=08ceb7ea3ba26f8daafc01ec8acaa782"
  >
    ASUS PB278Q Monitor</a
  >
  <p>As an Amazon Associate I earn from qualifying purchases.</p>
</div>
