<main role="main">
  <h1 class="cover-heading">James Edwards</h1>
  <h2 class="mb-5">Blog</h2>

  <section class="col-4 mx-auto text-center">
    <ul class="nav flex-column">
      <li class="nav-item border rounded">
        <a class="nav-link" href="first-post">First Post</a>
      </li>
    </ul>
  </section>
</main>
