<main role="main">
  <h1 class="cover-heading">James Edwards</h1>
  <h2 class="mb-5">Blog</h2>
  <section class="col-8 mx-auto text-center blog-links">
    <a href="first-post">
      <span class="card">
        <span class="card-body">
          <h5 class="card-title">First Blog Post!</h5>
          <p class="card-text">Welcome to my blog.</p>
          <span class="btn btn-primary">Read</span>
        </span>
      </span>
    </a>
  </section>
</main>
