<section class="col-10 mx-auto text-center blog-links">
  <a href="fetch-api-post-formdata-object" class="d-block mb-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          Submit FormData object using Fetch API
        </h2>
        <p class="card-text">AJAX Form submit with Typescript</p>
        <span class="btn btn-primary">Read Post</span>
      </div>
    </div>
  </a>
  <a href="ejs-render-file" class="d-block mb-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Render EJS file with Node.js</h2>
        <p class="card-text">HTML generation using EJS and Node.js</p>
        <span class="btn btn-primary">Read Post</span>
      </div>
    </div>
  </a>
  <a href="asus-pb278q-monitor-review" class="d-block mb-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          ASUS PB278Q Monitor
        </h2>
        <p class="card-text">Monitor Review</p>
        <span class="btn btn-primary">Read Review</span>
      </div>
    </div>
  </a>
  <a href="npm-compile-typescript" class="d-block mb-3">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Compile TypeScript with npm</h2>
        <p class="card-text">
          TypeScript compilation using npm package.json scripts
        </p>
        <span class="btn btn-primary">Read Post</span>
      </div>
    </div>
  </a>
</section>
