<div class="text-left blog-post-text">
  <p>
    <a href="https://initialcommit.io/">Initial Commit</a>
    wrote an interesting post examining the most popular git commit messages. In
    their analysis they used
    <a href="https://cloud.google.com/bigquery">Google BigQuery</a>, a cloud
    data warehouse with various public datasets to inspect. Using data from
    GitHub repositories, a subset of data was selected an analyzed to determine
    the frequency of the top 20 most common intial commit messages.
  </p>
  <p>
    You can read the full post on the blog at
    <a
      href="https://initialcommit.io/blog/What-Is-The-Most-Popular-Initial-Commit-Message-In-Git"
      >Initial Commit</a
    >.
  </p>
  <p>
    I thought it was a really cool use of the public datasets provide by Google
    BigQuery and made me wonder what other interesting data analysis could take
    place with all of GitHub's public repositories. Are there any other
    interesting data sets available in Google BigQuery?
  </p>
</div>
